################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Practica0102_VictorLopez/.vs/Practica0102_VictorLopez/FileContentIndex
